<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Add User</h2>
      <hr>
      <Form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
          <label for="technology">Technology</label>
          <input type="text" name="technology" class="form-control">
        </div>

        <button class="btn btn-primary mr-2">Add User</button>
        <button class="btn btn-success mr-2">Save User</button>
        <button class="btn btn-warning mr-2">Fetch User</button>
      </Form>
    </div>
    <div class="col-md-6 offset-1">
      <h2>User Details</h2>
      <hr>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Sr.No</th>
            <th scope="col">Name</th>
            <th scope="col">Technology</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = 'let detail of users; let i=index'>
            <td>{{i+1}}</td>
            <td>{{detail.name}}</td>
            <td>{{detail.technology}}</td>
            <td><i class="far fa-edit"></i></td>
            <td><i class="far fa-trash-alt"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>